



@media screen and (min-width: 550px) {
    .container__circle-page{
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 0.5rem;
    }
    
    .container__evt{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
    }
}