.container__circle-page{
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5rem;

    &__aside{
        order: 1;
    }

    &__switch{
        order: -3;
        border: 3px solid black;
        display: flex;
        justify-content: space-evenly;
        padding: 0.8rem;
    }
}



@media screen and (min-width: 550px) {
    .container__circle-page{
        justify-content: space-between;
        height: 100%;
    }
    
    .container__evt{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
    }
}