.message{
    margin-bottom: calc(var(--gutter) *2);
    font-size: 0.9rem;
    text-align: left;
    &__content{
        background-color: #fff;
        padding: calc(var(--gutter)* 1.5);
        display: inline-block;
        min-width: 150px;
        border-radius: 30px;
        color: var(--blue);
    }

    &__author{
        margin-bottom: calc(var(--gutter) *2);
        margin-left: calc(var(--gutter) *2);
    }
}