//! Delete for MUI style with tailwind
// @tailwind base;
@tailwind components;
@tailwind utilities;

// Import variable for darkmode
@import './styles/variables.css';
@font-face {
  font-family: 'easterFont';
  src: url('../public/fonts/regular-font.woff2') format('woff2'),
    url('../public/fonts/black-font.woff2') format('woff2'),
    url('../public/fonts/bold-font.woff2') format('woff2'),
    url('../public/fonts/medium-font.woff2') format('woff2'),
    url('../public/fonts/regularitalic-font.woff2') format('woff2');
}

html,
body,
#root,
.App {
  height: 100%;
  background-image: url(./assets/images/background.svg);
  background-size: cover;
  background-attachment: fixed;
}

.texts {
  color: var(--maincolor);
}

body {
  margin: 0;
  font-family: 'easterFont', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
