@use '../../styles/variables.css';

.chatroom {
    font-family: sans-serif;
    background-color: var(--light-blue);
    // height: 100vh;
    min-width: 15rem;
    // max-width: 20rem;
    // margin: auto;
    filter: drop-shadow(0 0 10px var(--dark-blue));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}